.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
}

.story {
  margin: 4px 0px;
}

.end-divider {
  color: gray;
  text-align: center;
  margin: 5px 0px;
  border: 1px solid gray;
  padding: 2px;
}

@keyframes highlight {
  from {
    background: yellow;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

.landing {
  display: flex;
  margin: 50px;
}

.join {
  margin: auto;
  text-align: center;
  font-size: 1.3em;
}

.icon {
  margin: auto 20px;
  cursor: pointer;
}

.icon-sm {
  margin-right: 2px;
  cursor: pointer;
}

.title1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
}

.title2 {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 3px;
  justify-content: center;
}

.info-container {
  display: flex;
  border: 3px solid yellowgreen;
  border-radius: 20px;
  padding: 10px;
  margin: 20px 0px;
}

.action-container {
  display: flex;
  border: 3px solid yellowgreen;
  border-radius: 20px;
  padding: 20px;
  margin: 20px 0px;
}

.transition {
  justify-content: center;
}
