.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 800px;
}

.story {
  margin: 4px 0px;
}

.end-divider {
  color: gray;
  text-align: center;
  margin: 5px 0px;
  border: 1px solid gray;
  padding: 2px;
}

@keyframes highlight {
  from {
    background: yellow;
  }
  to {
    background: rgba(0, 0, 0, 0);
  }
}

.title1 {
  font-size: 18px;
  font-weight: 600;
}

.info-container {
  border: 1px solid black;
  padding: 2px;
  margin: 10px 0px;
}

.action-container {
  border: 1px solid black;
  padding: 2px;
  margin: 10px 0px;
}
