.button-outer {
    display: flex;
    justify-content: left;
    align-items: center;
    user-select: none;
}

.button-inner {
    border-radius: 32px;
    cursor: pointer;
    font-weight: 600;
    user-select: none;
    text-align: center;
    font-size: 20px;
    background-color: #a0d8db;
    padding: 16px 48px;
    -webkit-user-select: none;
    -ms-user-select: none;
}
